<% @docs.each do |doc| %>
  <p>
    <strong>Title: </strong>
    <%= link_to doc.title , doc_path(doc) %>
  </p>

  <p>
    <strong>content: </strong>
    <%= doc.content %>
  </p>

<% end %>

<%= button_to "Create new docments" ,new_doc_path , :method => :get%>
