<div id="banner">
  <div class="banner_content">
      <h1>File Cabinet</h1>
      <p> Your Life's work. Organized, always.</p>
      <button type="button" name="button"><%=link_to "Enter", new_user_registration_path%></button>
    </div>
</div>

<div id="callouts">
  <div class="callout_inner">
    <div class="wrapper">
      <div class="callout">
        <h2>Organize</h2>
        <p>Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test </p>
      </div>
    </div>
  </div>
</div>

<div id="bottom_cta">
  <div class="wrapper">
    <h2>Go Ahead!</h2>
    <br>
    <button type="button" name="button"><%=link_to "Join Now", new_user_registration_path%></button>
  </div>

</div>
